.header-bg-container {
  background-color: #2c364c;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin: 0px;
}

.header-flex {
  display: flex;
}

.website-logo {
  height: 40px;
  width: 60px;
}

.header-fonts {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 16px;
  cursor: pointer;
  margin-right: 12px;
  background-color: transparent;
  border: none;
}

.logout-button {
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  color: #f1f5f9;
  font-size: 16px;
  padding: 6px;
  width: 100px;
  cursor: pointer;
}
li {
  list-style-type: none;
}
